
<div class="login-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>
      <h2 align="center">Edit <%= resource_name.to_s.humanize %></h2>

      <p>
      <h3><%= f.label :email %></h3>
      <%= f.email_field :email, autofocus: true, required: true %>
      </p>

      <p>
      <h3><%= f.label :username %></h3>
      <%= f.text_field :username, required: true %>
      </p>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <p>
      <h3><%= f.label :location %></h3>
      <%= f.text_field :location, required: true %>
      <em>(You can still change your location for each post)</em>
      </p>

      <p>
      <h3><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></h3>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum, include at least one lowercase letter, one uppercase
            letter, and one digit)</em>
      <% end %>
      <br>
      <h3><%= f.label :password_confirmation %></h3>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </p>

      <p>
      <h3><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></h3>
      <%= f.password_field :current_password, autocomplete: "off" %>
      </p>

      <p>
        <%= button_to 'Back', :back %>
        <%= f.submit 'Update' %>
      </p>

      <br>

      <p>
        <%= link_to 'Cancel my account', registration_path(resource_name), data: {confirm: 'Are you sure?'}, method: :delete %>
      </p>

  <% end %>
</div>