<div class="login-container">
    <%= form_for @user do |f| %>
        <%= devise_error_messages! %>
        <p>
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, required: true %>
        </p>
        <p>
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off", required: true %>
        </p>
        <p>
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
        </p>
        <%= f.submit "Sign up" %>
    <% end %>
</div>