<%= devise_error_messages! %>
<div class="login-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p>
        <h3><%= f.label :email %></h3>
        <%= f.email_field :email, autofocus: true, required: true %>
      </p>
      <p>
      <h3><%= f.label :password %></h3>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum, include at least one lowercase letter, one uppercase letter, and one digit)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", required: true %>
      </p>
      <p>
        <h3><%= f.label :password_confirmation %></h3>
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
      </p>
      <p>
      <%= f.submit "Sign up" %>
      </p>
  <% end %>
</div>

