<h1>Ingredient Sharer</h1>
<h2>A new way to connect with your neighbors via leftover groceries and spare ingredients.</h2>

<div id="login-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table border="0" padding="0" align="center">
        <caption align="top" style="font-size: 130%;">Log in or Sign up</caption>
        <tr>
          <th><%= f.label :login %></th>
          <th><%= f.text_field :login, autofocus: true %></th>
        </tr>
        <tr>
          <th><%= f.label :password %></th>
          <th><%= f.password_field :password, autocomplete: 'off' %></th>
          <th colspan="2"><%= f.submit 'Log in' %></th>
        </tr>
        <tr>
          <th rowspan="2">
            <%= render 'devise/shared/links' %>
          </th>
          <th>
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            <% end -%>
          </th>
        </tr>
      </table>
  <% end %>
</div>