<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="post_fields">
      <% if !@post.persisted? %>
          <h2 align="center">Create Post</h2>
      <% else %>
          <h2 align="center">Edit Post</h2>
      <% end %>
      <%= f.select :is_request, [['Request', true], ['Offer', false]] %><br>
      <br>
      <%= f.label :title %><br>
      <%= f.text_field :title, style: 'width: 100%; display: block', required: true %><br>
      <%= f.label :content %><br>
      <%= f.text_area :content, style: 'width: 100%; min-height: 300px; display: block', required: true %><Br>
      <% if !@post.persisted? %>
          <%= f.label :location %><br>
          <%= f.text_field :location, style: 'width: 100%; display: block', required: true, value: current_user.location %>
          <br>
          Time-to-live (in hours) of this post<br>
          <%= f.number_field :ttl, style: 'width: 50px; display: block', required: true %><br>
          <%= f.hidden_field :user_id, :value => current_user.id %>

      <% end %>
      <%= f.submit %>
    </div>
    <%= recaptcha_tags %>
<% end %>
