<% @posts = Post.all.select do |post| (Time.now <= (post.created_at + post.ttl.hours).to_time) end %>
  <h2 align="center">Listing Posts</h2>
    <p align="right">
      View order: 
    <% if @show_newest_first %>
      <% @posts = @posts.reverse %>
      <strong><%= link_to 'Newest first', posts_path(:sort_param => "id DESC") %></strong> <%= link_to 'Oldest first', posts_path(:sort_param => "id ASC") %>
    <% else %>
      <%= link_to 'Newest first', posts_path(:sort_param => "id DESC") %>Newest first <strong><%= link_to 'Oldest first', posts_path(:sort_param => "id ASC") %></strong>
    <% end %>
    </p>
    
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Location</th>
      <th>Created by</th>
      <th width="120">Posted time</th>
      <th width="120">Delete at</th>
    </tr>
    </thead>

    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td>
            <% if post.user_id == current_user.id || current_user.is_admin %>
              <%= link_to 'x', post, method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
            <%= post.is_request ? 'Request' : 'Offer' %>
          </td>
          <td>
            <% if post.comments.count > 0 %>
                <%= link_to post.title + " [#{post.comments.count}]", post %>
            <% else %>
                <%= link_to post.title, post %>
            <% end %>
          </td>
          <td><%= post.location %></td>
          <th><%= link_to User.find(post.user_id).username, user_url(post.user_id) %></th>
          <td><%= l post.created_at.to_time, format: :short %></td>
          <td><%= l (post.created_at + post.ttl.hours).to_time, format: :short %></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p align="right"><%= link_to 'New Post', new_post_path %></p>
