<p id="notice"><%= notice %></p>

<div class="post_fields">
<table width="100%">
  <caption align="top" style="font-size: 200%; font-style: bold;">Listing Posts</caption>
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Location</th>
      <th>Created by</th>
      <th>Posted time</th>
      <th>Delete at</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.is_request ? 'Request' : 'Offer' %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.location %></td>
        <th><%= post.created_by %></th>
        <td><%= l post.created_at.to_time, format: :short %></td>
        <td> <%= l (post.created_at + post.ttl.hours).to_time, format: :short %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p align="right"><%= link_to 'New Post', new_post_path %></p>