<div id="post_fields">
  <h2 align="center">
    <%= @post.is_request ? "[Request]" : "[Offer]" %>
    <% if @post.comments.count > 1 %>
        <%= @post.title + " [#{@post.comments.count}]" %>
    <% else %>
        <%= @post.title %>
    <% end %>
  </h2>
  <p>
    <%= @post.content %>
    <br>
    <br>
    <strong>Location:</strong>
    <%= @post.location %><br>
    <strong>Created by:</strong>
    <%= User.find(@post.user_id).username %><br>
    <strong>Posted time:</strong>
    <%= l @post.created_at.to_time, format: :short %><br>
    <strong>Delete at:</strong>
    <%= l (@post.created_at + @post.ttl.hours).to_time, format: :short %><br>
  </p>
  <h3>Comments</h3>
  <p>
    <% @post.comments.each do |comment| %>
        <% if comment.user_id == current_user.id %>
            <%= link_to 'x', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
        <strong><%= User.find(comment.user_id).username %></strong>(<%= l comment.created_at.to_time, format: :short %>
        ): <%= comment.content %><br/>
    <% end %>
    <h3>Add a comment:</h3>
    <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
         <%= f.text_area :content, style: 'width: 750px; resize: vertical' %>
            <%= f.submit %>
    <% end %>
    </p>

    <p align="center">
      <% if current_user.id == @post.user_id %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Back', posts_path %>
    </p>

    </div>
