<p id="notice"><%= notice %></p>
<div id="post_title"><%= @post.is_request ? "[Request]" : "[Offer]" %> <%= @post.title %></div>
<div id="post_fields">
  <%= @post.content %>
  <br>
  <p>
    <strong>Location:</strong>
    <%= @post.location %><br>
    <strong>Created by:</strong>
    <%= @post.created_by %><br>
    <strong>Posted time:</strong>
    <%= l @post.created_at.to_time, format: :short %><br>
    <strong>Delete at:</strong>
    <%= l (@post.created_at + @post.ttl.hours).to_time, format: :short %><br>
  </p>

  <p align="right">
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </p>

</div>
