<p id="notice"><%= notice %></p>
<div id="post_title"><%= @post.is_request ? "[Request]" : "[Offer]" %> <%= @post.title %></div>
<div id="post_fields">
  <%= @post.content %>
  <br>
  <p>
    <strong>Location:</strong>
    <%= @post.location %><br>
    <strong>Created by:</strong>
    <%= User.find(@post.user_id).username %><br>
    <strong>Posted time:</strong>
    <%= l @post.created_at.to_time, format: :short %><br>
    <strong>Delete at:</strong>
    <%= l (@post.created_at + @post.ttl.hours).to_time, format: :short %><br>
  </p>

  <h5 align="center">Comments</h5>
  <p>
    <% @post.comments.each do |comment| %>
        <% if comment.user_id == current_user.id %>
            <%= link_to 'x', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
        <strong><%= User.find(comment.user_id).username %></strong>(<%= l comment.created_at.to_time, format: :short %>): <%= comment.content %><br/>
    <% end %>
  </p>

  <p>Add a comment:<br/>
    <%= form_for([@post, @post.comments.build]) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
         <%= f.text_area :content, style: 'width: 750px; resize: vertical' %>
            <%= f.submit %>
    <% end %>
  </p>

  <p align="center">
    <% if current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>
      <%= link_to 'Back', posts_path %>
  </p>

</div>
