<!DOCTYPE html>
<html>
<head>
  <title>IngredientSharer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
  <%= stylesheet_link_tag 'hunjstyle' %>
</head>
<body>

<% if user_signed_in? %>
    <div id="header">Logged in as <%= link_to @user, current_user %> | Sign out</div>
<% end %>

<%= yield %>
<p class="alert"><%= alert %></p>
<p class="notice"><%= notice %></p>
</body>
</html>
